@mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

// mixin for calculating column width

@mixin columnWidth($column-width, $total-columns) {
    width: calc(#{$column-width} * ((100% - (#{$total-columns} - 1) * #{$gutter-horizontal})/ #{$total-columns}) + (#{$column-width} - 1) * #{$gutter-horizontal});
}

@mixin marginBottom($margin-size) {
    margin-bottom: #{$margin-size}rem !important;
}

@mixin marginTop($margin-size) {
    margin-top: #{$margin-size}rem !important;
}

@mixin centerBlock {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}