$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


/* universal reset selector */

/* this is the "default" selector for all variables, as the * applies to all */
/* so therefore by selecting box size: inherit, the box sizing will be inherited */
/* as border box from the body selector */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* root font size is always set in html selector */
/* root font size is set at 62.5 percent of 1rem which  */
/* is usually 16px, so it is set to 10 px as before to allow for  */
/* convenient scaling, but without using pixel  */
html {
    font-size: 62.5%;

}


/* font properties should be set on body element selector, not universal selector,
these properties are inherited - font properties are inherited */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;

}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)), 
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    /* backface visiblity is to fix shakiness in animations, set this property in */
    /* parent element of animated elements */
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s; 
    animation-timing-function: ease-out;
    
    /* animation-delay: 3s;
    animation-iteration-count: 3; */
}

.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 40rem;
    letter-spacing: 1.75rem;    
    animation: moveInRight 1s ease-out;
}

/* browser animation optimized for opacity and transform only, so stick to those with keyframes */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    
    80% {
        transform: translateX(-1rem);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBotton {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all .2s;
    border-radius: 10rem;
    position: relative;
    font-size: 1.6rem;
    
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black.2);
}

.btn--white {
    background-color: $color-white;
    color: $color-grey-dark;
}

.btn::after{
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: $color-white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBotton 1s ease-out .75s;
    animation-fill-mode: backwards;
}