.feature-box {

    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2); 
    transition: all .2s;

    @include respond(tab-port){
        margin: 0 auto;
        width: 60%;
    } 

    @include respond(phone){
        margin: 0 auto;
        width: 80%;
        min-width: 30rem;
    } 

    &__icon {
        font-size: 6rem;
        margin-bottom: 2rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        //same as a clipping mask in illustrator
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover {
        transform: translateY(-1rem) scale(1.03);
    }

}